@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: tan;
  color: white;
}

.wrapper h2 {
  font-size: 3rem;
}

/* .wrapper.animation {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.btn {
  font: inherit;
  font-weight: normal;
  padding: 1rem;
  border-radius: 10px;
  border: black solid 0.1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.btn:active {
  transform: scale(1.1);
}

.btn:hover {
  background-color: #ccc;
}
